# DO NOT PUT REAL VALUES
# USE THIS FILE AS A TEMPLATE TO CREATE YOUR OWN .envrc FILE
# continue to add any env varables to file

export EAS_PROJECT_ID=

# PROD
export EXPO_CLIENT_ID=
export EXPO_CLIENT_SECRET=
export ANDROID_GOOGLE_GUID=
export IOS_GOOGLE_GUID=
FACEBOOK_APP_ID=

export CLIENT_URL=localhost:4000
export CHATSERVICE_BASE_URL=
export FILE_URL=
export NOTIFICATION_URL=


# DEV
export DEV_EXPO_CLIENT_ID=
export DEV_EXPO_CLIENT_SECRET=
export DEV_ANDROID_GOOGLE_GUID=
export DEV_IOS_GOOGLE_GUID=
export DEV_FACEBOOK_APP_ID=

export DEV_CLIENT_URL=localhost:4000
export DEV_CHATSERVICE_BASE_URL=
export DEV_FILE_URL=
export DEV_NOTIFICATION_URL=


# LOCAL
export LOCAL_EXPO_CLIENT_ID=
export LOCAL_EXPO_CLIENT_SECRET=
export LOCAL_ANDROID_GOOGLE_GUID=
export LOCAL_IOS_GOOGLE_GUID=
export LOCAL_FACEBOOK_APP_ID=

export LOCAL_CLIENT_URL=localhost:4000
export LOCAL_CHATSERVICE_BASE_URL=
export LOCAL_FILE_URL=
export LOCAL_NOTIFICATION_URL=
