# DO NOT PUT REAL VALUES
# USE THIS FILE AS A TEMPLATE TO CREATE YOUR OWN .envrc FILE
# continue to add any env varables to file

export EXPO_PUBLIC_EAS_PROJECT_ID=

# PROD
export EXPO_PUBLIC_EXPO_CLIENT_ID=
export EXPO_PUBLIC_EXPO_CLIENT_SECRET=
export EXPO_PUBLIC_ANDROID_GOOGLE_GUID=
export EXPO_PUBLIC_IOS_GOOGLE_GUID=
export EXPO_PUBLIC_FACEBOOK_APP_ID=

export EXPO_PUBLIC_CLIENT_URL=http://localhost:4000
export EXPO_PUBLIC_CHATSERVICE_BASE_URL=
export EXPO_PUBLIC_FILE_URL=
export EXPO_PUBLIC_NOTIFICATION_URL=


# DEV
export EXPO_PUBLIC_DEV_EXPO_CLIENT_ID=
export EXPO_PUBLIC_DEV_EXPO_CLIENT_SECRET=
export EXPO_PUBLIC_DEV_ANDROID_GOOGLE_GUID=
export EXPO_PUBLIC_DEV_IOS_GOOGLE_GUID=
export EXPO_PUBLIC_DEV_FACEBOOK_APP_ID=

export EXPO_PUBLIC_DEV_CLIENT_URL=http://localhost:4000
export EXPO_PUBLIC_DEV_CHATSERVICE_BASE_URL=
export EXPO_PUBLIC_DEV_FILE_URL=
export EXPO_PUBLIC_DEV_NOTIFICATION_URL=


# LOCAL
export EXPO_PUBLIC_LOCAL_EXPO_CLIENT_ID=
export EXPO_PUBLIC_LOCAL_EXPO_CLIENT_SECRET=
export EXPO_PUBLIC_LOCAL_ANDROID_GOOGLE_GUID=
export EXPO_PUBLIC_LOCAL_IOS_GOOGLE_GUID=
export EXPO_PUBLIC_LOCAL_FACEBOOK_APP_ID=

export EXPO_PUBLIC_LOCAL_CLIENT_URL=http://localhost:4000
export EXPO_PUBLIC_LOCAL_CHATSERVICE_BASE_URL=
export EXPO_PUBLIC_LOCAL_FILE_URL=
export EXPO_PUBLIC_LOCAL_NOTIFICATION_URL=
