<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC2_z4TQoLJiXoW7XlPNr8W0-SD3gATpkw</string>
	<key>GCM_SENDER_ID</key>
	<string>818573166952</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.facets.one</string>
	<key>PROJECT_ID</key>
	<string>facets-4c74e</string>
	<key>STORAGE_BUCKET</key>
	<string>facets-4c74e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:818573166952:ios:7c95f4a3c9895cfbfeeedd</string>
</dict>
</plist>