<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>474530368865-87k3pk487b6tb58q49moahprr9usd3f2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.474530368865-87k3pk487b6tb58q49moahprr9usd3f2</string>
	<key>API_KEY</key>
	<string>AIzaSyAEUaLp6vYXEzKCgQSBe8OResPYhQ2WIIc</string>
	<key>GCM_SENDER_ID</key>
	<string>501079367587</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.scoop.love</string>
	<key>PROJECT_ID</key>
	<string>com-scoop-love-analytics</string>
	<key>STORAGE_BUCKET</key>
	<string>com-scoop-love-analytics.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:501079367587:ios:9d7a12c3c9b19e2edcc416</string>
</dict>
</plist>